@font-face {
    font-family: Intro-rust;
    /* Имя шрифта */
    src: url(../fonts/IntroRust-Base.otf);
    /* Путь к файлу со шрифтом */
}

html {
    padding: 0;
    margin: 0;
    font-family: russia;
}

h1 {
    font-family: Intro-rust;
    color: #fff;
}

h2 {
    position: relative;
    font-family: Intro-Rust;
    font-style: normal;
    font-weight: 600;
    line-height: 100px;
    color: #424c5c;
    font-size: 60px;
    margin-bottom: 56px;
}

h2::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    background: #ff73b3;
    height: 7px;
    width: 100px;
}

li {
    list-style: none;
}

.button {
    display: inline-block!important;
    border-radius: 20px;
    border: 1px solid #ed9999;
    padding: 10px 15px;
    color: #ed8b8b;
}

.button:hover {
    color: #ed8b8b;
    background: rgba(237, 153, 153, 0.10);
    -webkit-transition: ease-out 1s;
    -webkit-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

a {
    text-decoration: none!important;
}

.call {
    display: inline-block;
    background: url(../images/call3.png) no-repeat, #ff73b3;
    background-size: 15%;
    background-position: center;
    background-position: 15px;
    border-radius: 20px;
    padding: 14px 42px 14px 57px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.call:hover {
    color: #fff;
    background: url(../images/call3.png) no-repeat, #ff56a3;
    background-size: 15%;
    background-position: center;
    background-position: 15px;
    -webkit-transition: ease-out 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.section {
    min-height: 50vh;
}

.section-2 {
    min-height: 920px;
}

.section-3 {
    min-height: 720px;
    background: #f4f5f9;
    padding-top: 100px;
}
.section-3 .button{
    padding: 15px 25px;
}

.section-4 {
    min-height: 630px;
    padding-top: 90px;

}
.section-3 .col-7{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.footer {
    background: url(../images/uzor2.png) no-repeat bottom right, #3c3f63;
    min-height: 360px;
    padding-top: 90px;
}

.top-h {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;

}

.first {
    position: relative;
    padding-top: 30px;
    background: url(../images/uzor1.png) no-repeat bottom right, -webkit-gradient(linear, left top, right top, from(#00708c), to(#5356ad));
    background: url(../images/uzor1.png) no-repeat bottom right, linear-gradient(to right, #00708c, #5356ad);
}

.navbar {}

.logo {
    display: block;
    background: url(../images/logo.png);
    width: 80px;
    height: 80px;
    margin-left: 100px;
}

.nav-menu {
    padding-right: 40px;
}

.nav-menu ul li a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-right: 50px;

}

a {
    font-family: Roboto;

}

.uzor {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 300px;
    width: 500px;
    background: url(../images/uzor1) no-repeat;
    background-size: contain;
    background-position: bottom, right;

}

.kitchen {
    position: absolute;
    background: url(../images/kitchen.png) no-repeat;
    background-size: contain;
    bottom: -20px;
    left: 30px;
    width: 650px;
    height: 392px;
    background-position: bottom;

}

.first h1 {
    text-align: center;
    margin-left: 30px;
    margin-top: 120px;
    margin-bottom: 30px;
    color: #fff;
    font-style: normal;
    font-weight: 600;

}

.section-2 {
    min-height: 920px;
    background: url(../images/uzor2.png) no-repeat bottom left;
}

.why {
    padding: 155px 0 0 40px;
}

.why-h {
    padding: 155px 0px 0;
}

.why-h h2 {
    line-height: 100px;
    color: #424c5c;
    font-size: 64px;
    margin-bottom: 240px;
}

.why-item {
    padding-left:0px;
    font-family: Ubuntu;
    font-size: 13px;
    color: #9f9399;
    margin: 0 0 40px 0;
}
.left{
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.left .why-item{
    padding-left: 20px;;
}
.why-img > img {
    width: 140px;
    height: 84px;
    border-radius: 10px;



}

.why-img {
    display: inline;
}

.why-item h4 {
    font-family: Intro-Rust;
    color: #424c5c;
    font-size: 20px;

}

.why-text {
    margin: 0 0 0 30px;
    display: inline;
}

.why-text p {
    margin: 20px 0;
}

.carousel {
    border-radius: 10px!important;
    margin-bottom: 30px;
}

.carousel img {
    border-radius: 10px!important;
}

.section-4 h2 {
    position: relative;
    margin: 0 auto;
    margin-bottom: 130px;
}

.section-4 h2::after {
    content: "";
    position: absolute;
    left: 40%;
    background: #ff73b3;
    height: 7px;
    width: 100px;
}

.section-4 row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.p-item {
    position: relative;
    background: url(../images/img.jpg) no-repeat;
    padding: 0;
    margin: 0;
    width: 408px;
    height: 323px;
}

.p-text {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 10px;
}

.footer h3 {
    font-family: ROboto;
    font-size: 50px;
    color: #fff;
    margin-bottom: 5px;
}

.footer h4 {
    font-family: Roboto;
    font-size: 18px;
    color: #aaabbb;
    margin-bottom: 30px;
}

.footer .col-7 {
    padding-left: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer .button {
    width: 150px;
    text-align: center;
}

.vk {
    color: #fff;
    border-color: dodgerblue;
}

.footer .button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.vk:hover {
    color: #f3f3f3;

}

.footer .col-5 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
