@font-face {
    font-family: Intro-rust;
    /* Имя шрифта */
    src: url(../fonts/IntroRust-Base.otf);
    /* Путь к файлу со шрифтом */
}

html {
    padding: 0;
    margin: 0;
    font-family: russia;
}
h1 {
    font-family: Intro-rust;
    color:#fff;
}
li {
    list-style: none;
}

.section {
    min-height: 55vh;
}

.first {
    position: relative;
    padding-top: 30px;
    background:  url(../images/uzor1.png) no-repeat bottom right,linear-gradient(to right, #00708c, #5356ad);
}

.navbar {}

.logo {
    display: block;
    background: url(../images/logo.png);
    width: 80px;
    height: 80px;
    margin-left: 100px;
}

.nav-menu {
    padding-right: 40px;
}

.nav-menu ul li a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    display: flex;
    margin-top: 20px;
    margin-right: 50px;

}

a {
    font-family: Roboto;

}

.uzor {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 300px;
    width: 500px;
    background: url(../images/uzor1) no-repeat;
    background-size: contain;
    background-position: bottom, right;

}

.kitchen {
    position: absolute;
    background: url(../images/kitchen.png) no-repeat;
    background-size: contain;
    bottom: -20px;
    left: 30px;
    width: 650px;
    height: 392px;
    background-position: bottom;

}
.first h1 {
    text-align: center;
    margin-left: 30px;
    margin-top: 160px;
    color: #fff;
    font-style: normal;
    font-weight: 600;
}
.section-2{
    min-height: 920px;
    background: url(../images/uzor2.png) no-repeat bottom left;
}
.why{
    padding: 155px 0 0 40px;
}
.why-h {
    padding: 155px 0px 0;
}
.why-h h1{
    line-height: 100px;
    color: #424c5c;
    font-size: 64px;
}
.why-item{
    
    font-family: Ubuntu;
    font-size: 13px;
    color: #9f9399;
    margin: 0 0 40px 0;
}
.why-item > img{
    width: 140px;
    height:84px;
    
    

}
.why-img{
    display: inline;
}

.why-item h4 {
    font-family: Intro-Rust;
    color:#424c5c;
    font-size: 20px;
    
}
.why-text{
    margin: 0 0 0 30px;
     display: inline;
}
.why-text p{
    margin: 20px 0;
}
