@font-face {
    font-family: "Arial";
    src: url("../fonts/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 16px;
    min-width: 1000px;
    max-width: 100%;

}

.container {
    max-width: 1000px!important;

}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

button {
    border: 2px solid #e65158;
    outline: none;
    background: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-family: Arial;
    cursor: pointer;
}
.button{
    border: 2px solid #e65158;
    outline: none;
    background: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-family: Arial;
    cursor: pointer;
}
.head {
    width: 100%;
}

.head > .container-fluid {
    background: #0056a1;
}

.top-header {
    position: relative;
    height: 88px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.logo {
    display: block;
    padding: 3px 0 0 64px;
}

.header-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.number > img {
    margin-right: 7px;
}

.number span {
    display: inline;
    letter-spacing: -0.5px;
}

.call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.call button {
    padding: 9px 17px 9px 17px;
    border border-color: #49bffc;
    margin: 0 33px 0 35px;
}

.search {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    right: -1500px;
    top: 0;
    height: 88px;
    width: 449px;
    padding-left: 27px;
    background: #49bffc;
    white-space: nowrap;
    z-index: 3;
    -webkit-transition: background .55s ease;
    transition: background .55s ease;

}

.search.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 0;
    height: 88px;
    width: 450px;
    padding-left: 27px;
    background: #49bffc;
    white-space: nowrap;
    z-index: 3;
    visibility: visible;
    -webkit-transition: .4s cubic-bezier(0, 0.8, 0, 1);
    transition: .4s cubic-bezier(0, 0.8, 0, 1);

}

.search input {
    font-size: 16px!important;
    width: 300px;
    height: 60px;
    background: #fff;
    border: none;
    font-size: 10pt;
    color: #63717f;
    -webkit-box-shadow: inset 0px 4px 0px 0px #e9e9e9;
    box-shadow: inset 0px 4px 0px 0px #e9e9e9;

    border: 1px solid #2d94c9;
    z-index: 3;
    margin-right: 23px;
    padding-left: 16px;
}

.s-button {
    background: url(../images/search-w.png);
    border: none;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 27px;
    cursor: pointer;
    z-index: 3;
    padding: 0;
}

.search-icon {
    display: block;
    margin-right: 37px;
    background: url(../images/search.png);
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.main-menu {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;



}

.main-menu > ul {
    padding: 0 14px 0 22px;
    height: 73px;
    margin: 7px 0 8px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;

}

.menu-item {
    height: 100%;
    display: block;
    list-style: none;
    border-right: 1px solid #e6e6e6;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;


}

.menu-item {
    position: relative;
}

.main-menu li:first-child {
    margin-left: 0;
    white-space: nowrap;
}

.main-menu li:last-child {
    border: none;

}

.menu-item a:first-child {
    padding-left: 0;
}

.menu-item a:last-child {
    padding-right: 0;
}

.menu-item:hover a {
    color: #dc000a;
}

.menu-item a {
    margin: 0 26px;
    display: block;
    text-decoration: none;
    color: #3b3c3b;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;

}

.menu-item .sub-menu {
    display: none;
    position: absolute;
    left: -20px;
    top: 60px;
    width: 239px;
    padding: 22px 0 16px 28px;
    background: #e6e6e6;
    z-index: 4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.sub-menu li {

    background: #e6e6e6;
    margin: 8px 0;
    list-style: none;
}

.sub-menu a {
    font-size: 16px;
    margin: 0;
    color: #3b3c3b!important;
}

.sub-menu a:hover {
    color: #dc000a!important;
}

.menu-item:hover .sub-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slider {
    position: relative;
    height: 420px;
    background: red;
    background: url(../images/2-layers.jpg) no-repeat;
    background-size: cover;
}

.slider .container {
    height: 100%;
}

.slider img {
    display: block;
    width: 100%!important;
}

.slider-block {
    position: relative;
    top: 121px;
    left: 110px;
    background: rgba( 0, 0, 0, 0.70);
    height: 299px;
    width: 427px;
    padding: 37px 0 28px 36px ;
    color: #fff;
}

.slider-block h1 {
    font-family: Roboto Slab;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
}

.slider-block p {
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 14px;

}
.slider-block .button{
    display: inline-block;
    font-family: "Arial";
font-size: 16px;
font-weight: 400;
line-height: 10px;
    padding: 14px 21px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.advantage {
    height: 420px;
}

.service {
    height: 550px;
    background: url(../images/texture.jpg);
}

.work {
    height: 660px;
}

.equip {
    height: 584px;
}

.map {
    height: 566px;
}

.footer {
    height: 208px;
    background: #0056a1;
}
